<!-- This view creates the about page which has basic information about what the myQuote app does -->

<%= stylesheet_link_tag "customInputBar", "data-turbo-track": "reload" %>
<div class="centered-formtwo">
    <div class="formtwo">
        <p class="form-titletwo">About MyQuote</p>
    </div>
</div>
<br>
<div class="centered-formtwo">
    <div class="form">

        <p class="form-text form">Welcome to MyQuote, the go-to place for discovering everything quote related.</p>
        <br>
        <p class="form-texttwo">Whether you're an aspiring philosopher, a book lover, or simply someone who enjoys thought-provoking quotes, you'll feel right at home with us.</p>
        <br>
        <p class="form-texttwo">Please enjoy our free to use service.</p>
        <p class="form-texttwo"> To get started, head over to the sign up page.</p>
        <h2 class="signup-link">
           To Get Started
            <a href="/users/new">Click Here</a>
        </h2>
    </div>
</div>