<div id="<%= dom_id quote_category %>">
  <p>
    <strong>Quote:</strong>
    <%= quote_category.Quote_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= quote_category.Category_id %>
  </p>

</div>
